@import url('https://fonts.googleapis.com/css?family=Alegreya');

h1:hover {
  transition: border 1s ease-out 1s;
  color: red;
  border-style: solid;
  border-width: 3px;
  border-color: red;
  width: 32%
}

h1.about-me {
  color: red;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  width: 14%
}

h3:hover {
  color: yellow;
  font-size: 3rem;
  transition: font-size ease-out 1s 1s;
}

p.about-me {
  font-family: Alegreya, serif;
}

body {
  background-color: Aquamarine;
}

p {
  color: DarkBlue;
}

aside {
    width: 80%;
    float: right;
}

img:hover {
  transition: border 1s 1s;
  border-style: groove;
  border-color: orange;
  border-width: 5px;
}

.important {
  font-weight:bold;
}

.important:hover {
  transition: background-color 1s 1s;
  background-color:pink;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

p.important {
  width: 75%;
}

p.tiny {
  font-size: 12px;
}

p.about-me {
  color: Black;
}

p.first-webpage {
  color: DarkRed;
}

p.second-webpage {
  color: DarkSlateBlue;
}

a {
  background-color: orange;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

input[type=submit] {
  width: 15%;
  background-color: SteelBlue;
}

input {
  border-radius: 15px
}

fieldset {
  border: none;
}

fieldset input {
  display: inline;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkbox label:hover input ~ .checkmark {
  background-color: Blue;
}

.checkbox input:checked ~ .checkmark {
  background-color: SteelBlue;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
