@import url('https://fonts.googleapis.com/css?family=Alegreya');

h1 {
  color: red;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  width: 32%
}

h1.about-me {
  color: red;
  border-style: solid;
  border-width: 1px;
  border-color: red;
  width: 14%
}

p.about-me {
  font-family: Alegreya, serif;
}

body {
  background-color: Aquamarine;
}

p {
  color: DarkBlue;
}

aside {
    width: 80%;
    float: right;
}

img {
  border-style: groove;
  border-color: orange;
  border-width: 3px;
}

.important {
  font-weight:bold;
}

.important:hover {
  background-color:pink;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

p.important {
  width: 75%;
}

p.tiny {
  font-size: 12px;
}

p.about-me {
  color: Black;
}

p.first-webpage {
  color: DarkRed;
}

p.second-webpage {
  color: DarkSlateBlue;
}

a {
  background-color: orange;
}
